ul
{
	list-style-type: none;
}
li
{
	padding-right: 2em;
}
#menu
{
	font-family: Verdana;
	font-size: 0.7em;
	display: flex;
}
#nia
{
	font-family: Geneva;
	font-size: 0.2em;
	transform: rotate(-90deg);
	transform-origin: left top 0;
	float: left;
	margin-top: 10%;
}
.couleur13
{
	background-color: #e34a33;
}
.couleur14
{
	background-color: #fc8d59;
}
.couleur15
{
	background-color: #fdcc8a;
}
.couleur40
{
	background-color: #37c671;
}
.couleur41
{
	background-color: #238b45;
}
.couleur42
{
	background-color: #41ae76;
}
.couleur43
{
	background-color: #66c2a4;
}.couleur44
{
	background-color: #99d8c9;
}.couleur45
{
	background-color: #ccece6;
}.couleur46
{
	background-color: #d9f0a3;
}.couleur47
{
	background-color: #addd8e;
}
.couleur48
{
	background-color: #78c679;
}
.couleur49
{
	background-color: #41ab5d;
}
.couleur50
{
	background-color: #238443;
}