ul
{
	list-style-type: none;
}
li
{
	padding-right: 2em;
}
#menu
{
	font-family: Verdana;
	font-size: 0.7em;
	display: flex;
}
p 
{
	position: relative;
}
#nia
{
	font-family: Impact;
	font-weight: 900;
	font-size: 0.2em;
	transform: rotate(-90deg);
	transform-origin: left top 0;
	float: left;
	top: 25em;
}
.popup
{
	border-style: solid;
	float: left;
	top: 5em;
	padding: 0.5em;
	margin-right: 1em;
	cursor: move;
}
mark
{
	cursor:pointer;
}
