ul
{
	list-style-type: none;
}
li
{
	padding-right: 2em;
}
#menu
{
	font-family: Verdana;
	font-size: 0.7em;
	display: flex;
}
#nia
{
	font-family: Geneva;
	font-size: 0.2em;
	transform: rotate(-90deg);
	transform-origin: left top 0;
	float: left;
	margin-top: 10%;
}
